
<div class="nk-block nk-block-middle mt-5 nk-auth-body">
<div class="nk-block-head-content">
    <h4 class="nk-block-title text-success">Thank You for Registering</h4>
    <div class="nk-block-des text-success" *ngIf="authService.userData as user">
        <p>We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
        <p>Please check your email and click on the link to verfiy your email address.</p>
        <button type="button" class="btn btn-primary" (click)="authService.SendVerificationMail()">
          Resend Verification Email
        </button><br><br>
        <span>Go back to?<a routerLink="/sign-in"> Sign in</a></span>
        
    </div>
</div>
</div>